{% extends 'base.html' %}
{% block content %}
    <div class="chirp_div">
        {% if chirps %}
            <h2>All Chirps</h2>
            Number -- Chirp text -- Upvotes
                <ul>    
                    {% for chirp in chirps %}
                        <form action="/index" method="post">
                            <li>{{ chirp.c_id }} -- {{ chirp.text }} -- {{ chirp.up_votes }}
                            <input type="submit" value="Upvote" name={{chirp.c_id}} />
                            </li> 
                        </form>
                    {% endfor %}
                </ul>
        {% endif %}
    </div>
{% endblock %}
